<%- include('partials/header', { title: fiche.title }) %>

<main>
  <header><h1><%= fiche.title.replace('Fiche NSI – ', '') %></h1></header>
  <article class="container">
    <%- fiche.content %>
  </article>
  <% if (fiche.footer) { %>
    <div class="footnote"><%= fiche.footer %></div>
  <% } %>
</main>

<%- include('partials/footer') %>